@import '../utils/constants.styl';
@import '../utils/media-queries.styl';

.grid {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: --max-width;

  for breakpoint, value in --outer-margins {
    +mq(breakpoint) {
      padding-left: value;
      padding-right: value;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    for breakpoint, value in --gutters {
      +mq(breakpoint) {
        margin-left: -(value / 2);
        margin-right: -(value / 2);
      }
    }

    &__column {
      box-sizing: border-box;
      min-height: 1px;

      &--middle { align-self: center; }

      for breakpoint, value in --gutters {
        +mq(breakpoint) {
          padding-left: (value / 2);
          padding-right: (value / 2);
        }
      }

      for breakpoint, value in --breakpoints {
        +mq(breakpoint) {
          for i in (0..--grid-columns) {
            &--{breakpoint}-{i} {
              flex-basis: (100 / --grid-columns * i)%;
              max-width: (100 / --grid-columns * i)%;
            }

            &--{breakpoint}-offset-{i} { margin-left: (100 / --grid-columns * i)%; }
          }
        }
      }
    }
  }
}
