@import 'normalize.css/normalize.css';

@import './grid/grid.styl';
@import './utils/text.styl';

html,
body {
  overflow-x: hidden;
}
body {
  primary();
  background-color: #efeeec;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-skip: ink;
}

h1,
h2,
h3 { margin-top: 0; }
h1 {
  secondary();
}
h2,
h3 {
  large_title();
}

navigation {
  left: 0;
  position: fixed;
  right: 0;
  z-index: 10;
  
  for breakpoint, value in --outer-margins {
    +mq(breakpoint) {
      top: unit(value, 'px');
    }
  }
}

.content {
  &__archive {
    margin-bottom: 3.94em;
    
    &:last-child { margin-bottom: 0; }
  }
  
  &__main {
    margin-bottom: 10.94em;
    
    > div {
      margin-bottom: 3.06em;
      
      &:last-child,
      > *:last-child { margin-bottom: 0; }
      
      p {
        margin-bottom: 1em;
        margin-top: 0;
      }
    }
  }
  
  &__meta { margin-bottom: 0.9em; }
  
  &__title {
    h3 { margin-bottom: 0.7em; }
  }
  
  &--light {
    color: #a9a9a9;
    white-space: nowrap;
  }
  
  &--secondary {
    secondary();
    white-space: nowrap;
  }
}

#archives {
  background-color: #1e2e5a;
  color: #ffffff;
  overflow: hidden;
  padding-bottom: 5.06em;
  
  h2 { margin-bottom: 0.84em; }
  
  for breakpoint, value in --outer-margins {
    +mq(breakpoint) {
      padding-top: unit(value, 'px');
    }
  }
}

#recent { padding-top: 21.76em; }

.gallery {
  &__caption {
    caption();
    color: transparent;
    position: relative;
    margin-top: 12px;
    width: 100%;
    
    +sm() { margin-top: 10px; }
    +lg() { margin-top: 12px; }
    
    &__item {
      color: #a9a9a9;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  
  &__controls {
    align-items: center;
    display: flex;
    flex-grow: 1;
    position: relative;
    z-index: 5;
    
    +sm() { justify-content: center; }
    
    &__control {
      cursor: pointer;
      margin-bottom: 18px;
      margin-right: 22px;
      user-select: none;
      
      +sm() { margin: 0 11px; }
      
      svg {
        display: block;
        height: 20px;
        stroke: #000000;
        width: 10px;
        transition: stroke 400ms;
      }
      
      &--disabled {
        cursor: auto;
        
        svg { stroke: #a9a9a9; }
      }
    }
    
    +sm() {
      &:before {
        background-color: #efeeec;
        bottom: -1px;
        content: '';
        pointer-events: none;
        position: absolute;
        right: 0;
        top: -1px;
        width: 50vw;
        z-index: -1;
      
        for breakpoint, value in --gutters {
          +mq(breakpoint) {
            right: unit(value * -1, 'px');
          }
        }
      }
    }
  }
  
  &__inner {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }
  
  &__item {
    background-color: #e8e7e4;
    flex-basis: 100%;
    flex-shrink: 0;
    
    for breakpoint, value in --gutters {
      +mq(breakpoint) {
        margin-right: unit(value, 'px');
      }
    }
    
    div {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      padding-top: 56.25%;
      position: relative;
      transition: opacity 400ms;
      
      video {
        height: calc(100% + 1px);
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: calc(100% + 1px);
      }
    }
  }
}
  