@import 'normalize.css/normalize.css';

@import './grid/grid.styl';
@import './utils/text.styl';

html,
body {
  overflow-x: hidden;
}
body {
  primary();
  background-color: #efeeec;
}

* {
  vertical-align: baseline;
  margin: 0;
}

a {
  color: inherit;
  text-decoration-skip: ink;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}
h2,
h3 {
  large_title();
}

.content {  
  &__main {
    margin-bottom: 10.94em;

    &__introduction {
      a {
        text-decoration: underline;
      }

      h2 + p {
        margin-top: 3.06em;
      }
      
      p + p {
        margin-top: 1em;
      }
    }

    &__metadata {
      secondary();

      a {
        text-decoration: none;

        &:after {
          background-image: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' height='100%' width='100%' viewBox='0 0 5.1 5.1'><polygon points='5.1,0 5.1,3.7 4.1,3.7 4.1,1.7 0.7,5.1 0,4.4 3.4,1 1.4,1 1.4,0'/></svg>");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% auto;
          content: '';
          margin-left: 0.3em;
          padding-right: 0.5em;
          position: relative;
          top: -0.1em;
        }
      }

      &__title {
        color: #a9a9a9;
      }
    }

    &__introduction + &__metadata,
    &__introduction + &__gallery,
    &__metadata + &__metadata,
    &__metadata + &__gallery {
      margin-top: 3.06em;
    }
  }
  
  &__date {
    secondary();
    margin-bottom: 0.9em;
  }
}

.gallery {
  &__caption {
    secondary();
    color: transparent;
    position: relative;
    margin-top: 12px;
    width: 100%;
    
    +sm() { margin-top: 10px; }
    +lg() { margin-top: 12px; }
    
    &__item {
      color: #a9a9a9;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  
  &__controls {
    align-items: center;
    display: flex;
    flex-grow: 1;
    position: relative;
    z-index: 5;
    
    +sm() { justify-content: center; }
    
    &__control {
      cursor: pointer;
      margin-bottom: 18px;
      margin-right: 22px;
      user-select: none;
      
      +sm() { margin: 0 11px; }
      
      svg {
        display: block;
        height: 20px;
        stroke: #000000;
        width: 10px;
        transition: stroke 400ms;
      }
      
      &--disabled {
        cursor: auto;
        
        svg { stroke: #a9a9a9; }
      }
    }
    
    +sm() {
      &:before {
        background-color: #efeeec;
        bottom: -1px;
        content: '';
        pointer-events: none;
        position: absolute;
        right: 0;
        top: -1px;
        width: 50vw;
        z-index: -1;
      
        for breakpoint, value in --gutters {
          +mq(breakpoint) {
            right: unit(value * -1, 'px');
          }
        }
      }
    }
  }
  
  &__inner {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    &--grabbing {
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }
  }
  
  &__item {
    background-color: #e8e7e4;
    flex-basis: 100%;
    flex-shrink: 0;
    
    for breakpoint, value in --gutters {
      +mq(breakpoint) {
        margin-right: unit(value, 'px');
      }
    }
    
    div {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      padding-top: 56.25%;
      position: relative;
      transition: opacity 400ms;
      
      video {
        height: calc(100% + 1px);
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: calc(100% + 1px);
      }
    }
  }
}

#recent { padding-top: 21.76em; }

#title {
  secondary();
  left: 0;
  position: fixed;
  right: 0;
  z-index: 10;

  for breakpoint, value in --outer-margins {
    +mq(breakpoint) {
      top: unit(value, 'px');
    }
  }
}
